.cards-box{
    display: grid;
    grid-template-columns: 0.33fr 0.33fr 0.33fr;
    
}
.App{
    padding-left: 10rem;
    padding-top: 3rem;
    background:url(/src/image/qw.jpg) ;
    
    
}

h1{
    position: relative;
    padding-left: 25rem;
    font-family: 'ABeeZee';
    color: black;
}
@media only screen and (max-width: 400px){
   .cards-box{
    display: grid;
    grid-template-columns: 1fr 0fr 0fr;
   }
   .App{
    background:url(/src/image/qw.jpg) ;
    background-size: contain;
    padding: 3em;
   }
   h1{
    padding-left: 10px;
    padding-top: 13px;
    position: relative;
    font-family: 'ABeeZee';
    color: black;
   }
}
@media only screen and (max-width: 320px){
    .cards-box{
     display: grid;
     grid-template-columns: 1fr;
    }
    .App{
     background:url(/src/image/qw.jpg) ;
     background-size: contain;
     padding: 0.7em;
    }
    h1{
     padding-left: 10px;
     padding-top: 35px;
     position: relative;
     font-family: 'ABeeZee';
     color: black;
    }
 }
@media only screen and (max-width: 425px){
    .cards-box{
     display: grid;
     grid-template-columns: 0.3fr 0.3fr 0.3fr;
    }
    .App{
     background:url(/src/image/qw.jpg) ;
     background-size: contain;
     padding: 3em;
    }
    h1{
     padding-left: 20px;
     padding-top: 3px;
     position: relative;
     font-family: 'ABeeZee';
     color: black;
    }
 }

 @media only screen and (max-width: 768px){
    .cards-box{
     display: grid;
     grid-template-columns: 0.4fr 0.6fr;
    }
    .App{
     background:url(/src/image/qw.jpg) ;
     background-size: contain;
     padding: 15px;
    }
    h1{
     padding-left: 20px;
     padding-top: 13px;
     position: relative;
     font-family: 'ABeeZee';
     color: black;
    }
 }